body {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(61, 61, 67, 0.2) 0px 8px 15px 3px;
  margin-top: 0.8em;
}

.form-control {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

.btn-update {
  background-color: #d77d00;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: 350;
  padding: 0.3rem;
  margin-top: 8px;
  width: 100%;
}

.btn-update:hover {
  background-color: #cc7700;
  color: rgb(255, 255, 255);
}