<body class="body">
  <form #taskCreate="ngForm">
    <div class="form-group">
      <label>Entrer un id :</label>
      <input type="name" class="form-control" name="id" ngModel>
    </div>
    <div class="form-group">
      <label>Entrer une tache :</label>
      <input type="name" class="form-control" name="name" ngModel>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-warning" (click)="createNewTask(taskCreate.value)">Créer la tache</button>
    </div>
  </form>
</body>