<div class="row">
  <div class="col-6">
    <todolist
      (taskId)="showTaskDetails($event)"
      (taskIdUpdate)="showTaskToUpdate($event)"
      (createTask)="createNewTask()"
    ></todolist>
  </div>
  <div class="col-6">
    <task [taskId]=taskId *ngIf="taskId"></task>
    <form-update [taskIdUpdate]=taskIdUpdate *ngIf="taskIdUpdate" (clickUpdate)="updateList()"></form-update>
    <form-create [createTask]=createTask *ngIf="createTask" (clickCreate)="updateListNew()"
    ></form-create>
  </div>
</div>