<body class="body">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom de la tache</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let todo of todos$ | async">
        <tr>
          <td class="todo-id">{{todo.id}}</td>
          <td class="todo-name">
            <!-- <a class="link" [routerLink]="['/task', todo.id]">{{todo.name}}</a> -->
          </td>
          <td class="buttons">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-get">Afficher</button>
              <button type="button" class="btn btn-success">Terminer</button>
              <button type="button" class="btn btn-warning">Modifier</button>
              <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>