<body class="body">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom de la tache</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of todos$ | async">
        <tr>
          <td class="todo-id">{{task.id}}</td>
          <td class="todo-name"> {{task.name}}
          </td>
          <td class="buttons">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-get" (click)="selectTaskToGet(task.id)">Afficher</button>
              <button type="button" class="btn btn-success">Terminer</button>
              <button type="button" class="btn btn-warning" (click)="selectTaskToUpdate(task.id)">Modifier</button>
              <button type="button" class="btn btn-danger" (click)="selectTaskToDelete(task.id)">Supprimer</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>