.body {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.table {
  vertical-align: middle;
}

.todo-id {
  font-size: large;
  font-weight: bold;
}

.todo-name {
  font-size: large;
  font-weight: 300;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 1px;
}

.btn-get{
  background-color: #0053a5;
  color:#ffffff
}
.btn-get:hover{
  background-color: #00386f;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: black;

}

a:hover {
  background: #ffffff;
  padding: 5px;
  border-radius: 6px;
  color: #000000;
}