.card {
  box-shadow: rgba(61, 61, 67, 0.2) 0px 8px 15px 3px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.card-header {
  background-color: #006ac7;
  color: #f5f5f5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: 350;
}

.todo-id {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.todo-name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
 
}